.sidebar{
    flex: 1;
}
.user{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'anaheimregular';
    width: 95%;
    height: 95%;
    margin: auto;
}
.app{
    flex: 2;
    max-height: 100vh;
    overflow: auto;
}
.container {
    width: 100vw;
    height: 100vh;
    margin: auto;
    display: flex;
    overflow: hidden;
}
.members{
    max-height: 100vh;
    overflow: auto;
    text-align: center;
}
.form{
    align-items: left;
    display: flex;
    flex-direction: column;
    align-items: left;
    min-width: 50%;
    line-height: 3rem;
    padding: 1rem;
    border-radius: 1rem;
}
.member{
    display: inline;
    margin: 1vw;
    line-height: 5vw;
    background-color: #191919;
    padding: 1rem;
    border-radius: 1rem;
}
.link{
    height: 2rem;
    margin: 1rem;
}
.key{
    height: 2rem;
    margin: 1rem;
}
.msg-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.message-area{
    flex: auto;
    overflow: auto;
    width: 90%;
    margin: auto;
    margin-top: 2%;
}
.message-input{
    height: 5rem;
    background-color: #191919;
    width: 90%;
    margin: auto;
    border-radius: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}
.bolder{
    font-weight: bolder;
}
.msg{
    margin: 0.2rem;
    text-justify: auto;
    max-width: 45%;
    line-height: 1.3rem;
    margin-bottom: 1rem;
}
.msg-left{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    
}
.msg-right{
    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
    align-items: center;                
}
.timestamp{
    font-size: smaller;
    color: #363636;
    font-weight: bolder;
    margin: 1rem;
}
.text-input{
    height: 100%;
    flex: auto;
}
.msg-input{
    display: flex;            
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
    height: 3rem;
    margin: auto;
}
#send{
    outline: none;
    border: none;
    background-color: transparent;
    color: white;
}
.send{
    width: 2rem;
    margin-left: 15px;
}
.icons{
    display: flex;
    align-items: center;
    justify-content: center;
}
input{
    height: 2.2vw;
    background-color: black;
    border: solid 0.1vw #363636;
    padding-left: 1vw;
    color: white;
    font-family: 'anaheimregular';
    font-size: 0.9vw;
    margin-bottom: 1vw;
}