@font-face {
    font-family: 'baseticamedium';
    src: url('basetica-med-webfont.woff2') format('woff2'), url('basetica-med-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'anaheimregular';
    src: url('anaheim-regular-webfont.woff2') format('woff2'), url('anaheim-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}